<header class="d-flex flex-wrap justify-content-center align-items-center py-3 mb-4 border-bottom">
    <a href="/" class="navbar-brand d-flex align-items-center mb-md-0 me-md-auto text-dark text-decoration-none">
        <i class="bi bi-camera-video-fill"></i><span class="fs-4 fw-bold mx-2">TO-GATHER</span>
    </a>
    <ul class="nav nav-pills d-flex align-items-center">
        <li class="nav-item" id="nav-user">
            <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="nav-avatar">
                    <img id="avatar-icon" />
                </div>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/user">Profile</a></li>
                    <li><a class="dropdown-item" href="#" id="nav-dropdown-signout">Sign out</a></li>
                </ul>
            </a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary mx-2" href="#" role="button" id="nav-start-meeting">Start a meeting</a>
        </li>
    </ul>
</header>