<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO-GATHER: ERROR</title>
    <%- include('./partials/css'); %>
    <style>
        main { text-align: center; }
    </style>
</head>
<body>
    <div class="container">
        <%- include('./partials/header'); %>
    </div>
    <main>
        <h3>Invalid Room ID</h3>
        <div class="mb-5"><a class="btn btn-primary m-2" href="/" role="button">Go back to homepage</a></div>
    </main>
    <%- include('./partials/footer'); %>
    <%- include('./partials/loading'); %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script type="module">
        import { getUserData } from '/javascripts/user.js'
        init();

        function init() {
            getUserData(handleNotSignIn, handleSignIn);
        }

        function handleNotSignIn() {
            location.replace('/');
        }
        function handleSignIn() {
            document.getElementById('loading').style.display = 'none';
        }
    </script>
</body>
</html>